<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="ConnectionString" value="server=zrj-pc\sv2012;User ID=sa;Password=111111;database=OrleansStorage;" />
  <add key="Invariant" value="System.Data.SqlClient" />
  <add key="ClusterId" value="ScpOrleansDev" />
  <add key="ServiceId" value="ScpOrleansDev" />
  <add key="SiloPort" value="10001" />
  <add key="GatewayPort" value="20001" />
</appSettings>