<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="ConnectionString" value="DATA SOURCE=10.1.1.24:1531/ASCPUAT1;PASSWORD=apps;PERSIST SECURITY INFO=True;POOLING=False;USER ID=APPS" />
  <add key="Invariant" value="Oracle.DataAccess.Client" />
  <add key="ClusterId" value="ScpOrleansDev" />
  <add key="ServiceId" value="ScpOrleansDev" />
</appSettings>